html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sticky {
  position: sticky;
  top: 1rem;
  display: block;
}

.hidden {
  display: none;
}

@media screen and (prefers-color-scheme: dark) {
  html {
    background: black;
    color: white;
  }

  img {
    filter: invert(1);
  }
}
